@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #46474b;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 4xl;
  margin: 0 auto;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
}

@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem; /* sm:px-6 */
    padding-right: 1.5rem; /* sm:px-6 */
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem; /* lg:px-8 */
    padding-right: 2rem; /* lg:px-8 */
  }
}

.section {
  padding-top: 2rem; /* py-8 */
  padding-bottom: 2rem; /* py-8 */
}

.header {
  font-size: 2.25rem; /* text-4xl */
  font-weight: 700; /* font-bold */
  margin-bottom: 1rem; /* mb-4 */
}

.subheader {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600; /* font-semibold */
  color: #63b3ed; /* text-blue-300 */
}

.text {
  font-size: 1.25rem; /* text-xl */
  color: #e2e8f0; /* text-gray-200 */
}
.text-sm {
  font-size: 1rem;
  color: #e2e8f0;
}
.text-sm-lt {
  font-size: 1rem;
  color: #a9adb1;
}

.bubble {
  background-color: #4a5568; /* bg-gray-700 */
  color: #fff; /* text-white */
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem; /* px-3 */
  padding-top: 0.25rem; /* py-1 */
  padding-bottom: 0.25rem; /* py-1 */
  border-radius: 9999px; /* rounded-full */
}

.bubble-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* gap-2 */
}

.bubble {
  background-color: #273143;
  color: #ffffff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.small-tech-bubble{
  background-color: #1b1e23;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}