@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-color: #1a202c;
  --subheader-color: #2d3748;
  --bubble-bg-color: #e2e8f0;
  --bubble-text-color: #1a202c;
}

/* Dark theme */
[data-theme="dark"] {
  --bg-color: #1a202c;
  --text-color: #ffffff;
  --header-color: #e2e8f0;
  --subheader-color: #a0aec0;
  --bubble-bg-color: #2d3748;
  --bubble-text-color: #ffffff;
}

/* Apply the variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.main{
  min-height: screen;
}

.container {
  max-width: 4xl;
  margin: 0 auto;
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
}

@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem; /* sm:px-6 */
    padding-right: 1.5rem; /* sm:px-6 */
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem; /* lg:px-8 */
    padding-right: 2rem; /* lg:px-8 */
  }
}

.section {
  padding-top: 2rem; 
  padding-bottom: 2rem; 
}

.header {
  font-size: 2.25rem; 
  font-weight: 700; 
  margin-bottom: 1rem; 
  color: var(--header-color);
}
.subheader {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600; 
  color: var(--subheader-color);
}
.colored-subheader {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600; /* font-semibold */
  color: #355c77; /* text-blue-300 */
}

.text {
  font-size: 1.25rem; /* text-xl */
}
.text-sm {
  font-size: 1rem;
}
.text-sm-lt {
  font-size: 1rem;
  color: #a9adb1;
}

.bubble-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* gap-2 */
}

.bubble {
  background-color: #242424cd;
  color: #ffffff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--bubble-bg-color);
  color: var(--bubble-text-color);
}
.tech-bubble{
  background-color: #222222c5;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.small-tech-bubble{
  background-color: #606060b0;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text-color);
  transition: color 0.3s;
}

.theme-toggle:hover {
  color: var(--subheader-color);
}